<script setup lang="ts">
import {ref,reactive,watch,nextTick} from 'vue';
class Person {
    id: number;
    name: string;
    surname: string;
    gender: string;
    static lastid = 1;
    constructor(name: string, surname: string, gender: string){
        this.id = Person.lastid++;
        this.name = name;
        this.surname = surname;
        this.gender = gender;
    }
}
const person = reactive<Person>({id:-1 ,name: "",surname: "",gender:""});
const msg = reactive({name: "",surname: "",gender:""});
const personlist = ref<Person[]>([]);
const showform = ref(false);

const checkname = function(name:string){
    if(name.trim().length==0){
            msg.name = "name is empty!"
            return false;
        }
        msg.name = "";
        return true;
}
const checksurname = (surname:string) => {
    if(surname.trim().length===0){
            msg.surname = "surname is empty!"
            return false;
        }
        msg.surname = "";
        return true;
}
function checkgender(gender:string){
    if(gender.trim().length===0){
            msg.gender = "Gender is empty!"
            return false;
        }
        msg.gender = "";
        return true;
}
const clearform = function(){
    person.name = "";
    person.surname = "";
    person.gender = "";
    person.id = -1;
    //Updating
    nextTick(() => {
        //Update from finished
        msg.name = "";
        msg.surname = "";
        msg.gender = ""; 
        msg.id = ""; 
    });
};

watch(
    () => person.name,
    (name) => {
        checksurname(name);
    }
);
watch(
    () => person.surname,
    (surname) => {
        checksurname(surname);
    }
);
watch(
    () => person.gender,
    (gender) => {
        checkgender(gender);
    }
);
function dosubmit(){
    if(checkname(person.name) && checksurname(person.surname) && checkgender(person.gender)){
        if(person.id<0){ //add new
    const p = new Person(person.name,person.surname,person.gender);
    personlist.value.push(p);
    console.log(personlist.value);
    clearform();
    showform.value = false;
}else{//edit
    const index = personlist.value.findIndex((item)=> item.id === person.id);
    personlist.value[index].name = person.name;
    personlist.value[index].surname = person.surname;
    personlist.value[index].gender = person.gender;
}
}
};
const doit = function(p: Person){
    person.name = p.name;
    person.surname = p.surname;
    person.gender = p.gender;
    person.id = p.id;
    showform.value = true;
};
const doDelete = function(p:Person){
    const index = personlist.value.findIndex((item)=> item.id === p.id);
    personlist.value.splice(index,1);
}
</script>
<template>
    <h2>Person</h2>
    <div v-if="showform" class="form">
        <form action="">
            <label for="name">Firstname</label>
            <input type="text" id="name" v-model="person.name">
            <span class="error">{{ msg.name }}</span>

            <label for="surname">Secondname</label>
            <input type="text" id="surname" v-model="person.surname" autocomplete="off">
            <span class="error">{{ msg.surname }}</span>


            <label for="gender">Gender</label>
            <select id="gender" v-model="person.gender">
                <option hidden selected>Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            <span class="error">{{ msg.gender }}</span>
            <input type="submit" value="submit" @click.prevent="dosubmit">
        </form>
    </div>
    <div v-if="!showform">
        <div style="width: 100%; text-align: right;">
            <button style="width: 100px;" @click="showform=!showform">Add</button></div>
    </div>
    <div>
        <table id="person">
            <thead>
                <th>Id</th>
                <th>First name</th>
                <th>Second name</th>
                <th>Gender</th>
                <th style="width: 250px;">Operation</th>
            </thead>
            <tr v-for="(item, index) in personlist" :key="index" >
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname }}</td>
                <td>{{ item.gender }}</td>
                <td>
                    <button style="width: 100px; margin-left: 1em; background-color: gray;" @click="doit(item)">Edit</button>
                    <button style="width: 100px; margin-left: 1em; background-color: red;" @click="doDelete(item)">Delete</button>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;" v-if="personlist.length === 0">No data</td> <!--colsapn คือ การให้ข้อความใน td ครอบคลุม 4 คอลัม-->
            </tr>
        </table>
    </div>
</template>
<style scoped>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.error{
    color: red;
    font-size: smaller;
    display: block;
}
#person {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#person td, #person th {
  border: 1px solid #ddd;
  padding: 8px;
}

#person tr:nth-child(even){background-color: #f2f2f2;}

#person tr:hover {background-color: #ddd;}

#person th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>